/* CSS for the bookshelf */

#bookshelf_search {
    width: 100%;
    margin-bottom: 20px;
}

#bookshelf_table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#bookshelf_table td {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding: 5px;
}

.icon_col {
    width: 20px;
    text-align: center;
}

#bookshelf_hidden {
    display: none;
}

.bookshelf_match {
    //color:#2f75b4;
}
