/* CSS for the index page */

.container{
    width: 95%;
}
.panel-container{
    height: 85%;
    border: 1px solid black;
}

.panel-row{
    height: 50%;
}

.panel {
    border: 1px solid black;
    height: 100%;
    margin-bottom: 0px;
    background-color: gray;
}

.navigation-container{
    height:10%;
    background-color:gray;
    border:1px solid black;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #333333;
}

p {
    line-height: 1.5;
    margin: 0;
}
p+p {
    text-indent: 2em;
}

h1 {
    color: #2f75b4;
}

h2 {
    letter-spacing: 1px;
}

h3 {
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 2px;
}

a:link, a:visited, a:active {
    color: #2f75b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}